<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dim Dim</title>
</head>
<body>
	<h1>Dim Dim</h1>
	<h2>Nova transacao</h2>
	<form action="/transacao" method="post" th:object="${transacao}">
		<label for="title">Título</label>
		<input id="title" name="title" th:field="*{title}">
		<span th:errors="*{title}"></span>
		
		<label for="description">Descrição</label>
		<textarea id="description" name="description" rows="" cols="" th:field="*{description}"></textarea>
		<span th:errors="*{description}"></span>
		
		
		<label for="points">Pontos</label>
		<input id="points" name="points" type="range" th:field="*{points}">
		<span th:errors="*{points}"></span>
		
		
		<a href="/transacao">Cancelar</a>
		<button>Salvar</button>
	</form>
</body>
</html>